# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
build/
dist/

# Database files
*.sqlite3
*.db
trend_memory.json

# Environment variables
.env

# IDE settings
.idea/
.vscode/

# Logs
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db
.env